.Header {
  font-size: 20px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header__explore {
}
.Header__about {
}
.Header__partner {
}
.Header__contact {
}
