.box {
  width: 400px;
  height: 600px;
  padding: 20px 10px 0px 0px;
}
.box__img {
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
}
.thirdPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdPage__box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.box__icon {
  position: relative;
  left: 15px;
  top: 65px;
  padding: 10px;
  font-size: 30px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 42px;
}
.title {
  color: #5ba48d;
}
.box__content {
  padding-bottom: 15px;
  border-bottom: inset;
}
.box__buttom {
  display: flex;
  padding: 5px 0px 0px 5px;
}
.box__icon1 {
  padding: 0px 5px 0px 0px;
}
