.container-option {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 70px;
  align-items: center;
}
.option {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 50px;
  align-items: center;
  background-color: white;
}
.option__selection {
  display: flex;
  flex-direction: column;
}
.option__name {
  color: #5da790;
}
.option__icon {
  font-size: 35px;
  padding: 10px;
  color: #5da790;
}

.iconSearch {
  font-size: 50px;
  padding: 2px 5px 0px 2px;
}
