.Title__img {
  width: 150px;
  height: 150px;
}
.Title {
  width: 500px;
  display: flex;
  align-items: center;
}
.Title__content {
  padding-left: 20px;
}
.Title__content h1 {
  color: #5ba38d;
  font-size: 15px;
  padding: 10px;
}
.Title__content p {
  line-height: 1.5;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
}
.Titles {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest_news h1 {
  color: #5ba38d;
  font-size: 15px;
  padding-bottom: 10px;
}

.latest_news p {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 500;
}
.page6_left {
  width: 500px;
  height: 700px;
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  justify-content: space-evenly;
}
.right_img {
  width: 200px;
  height: 200px;
}
.page6_right__img {
  display: grid;
  grid: 200px / auto auto auto auto;
  grid-gap: 20px;
}
.page6_right {
  width: 900px;
  height: 900px;
}
.page6 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.top_right {
  font-size: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.icon_insta {
  color: #5ba38d;
  padding-right: 20px;
  font-size: 50px;
}
